@model JuCheap.Models.SinglePageDto
@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_WebLayout.cshtml"; ;
}
<div class="nbanner"></div>
<div class="a1">
   
        <div class="a1_f">
            <div  style="float:left; margin-top:20px; "   >@Html.Raw(@Model.Content)</div>
            <div  style="margin-left:600px"><img src="../content/images/lxwmdt.jpg"  width="500"/></div>
          
          
            <img src="../content/images/ggjj.jpg" />
        </div>

    </div>
