<?xml version="1.0" encoding="utf-8"?>
<ArrayOfStaticFileModel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- scripts config -->

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/main]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[首页js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Scripts/jquery-1.10.2.js]]></string>
      <string><![CDATA[~/Content/js/bootstrap.min.js]]></string>
      <string><![CDATA[~/Content/js/plugins/metisMenu/jquery.metisMenu.js]]></string>
      <string><![CDATA[~/Content/js/plugins/slimscroll/jquery.slimscroll.min.js]]></string>
      <string><![CDATA[~/Content/js/jucheap.js]]></string>
      <string><![CDATA[~/Content/js/contabs.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/bundles/jqueryAjax]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[MVC AJAX需要引入的JS文件]]></Desc>
    <Srcs>
      <string><![CDATA[~/Scripts/jquery.unobtrusive-ajax.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/Content/js/base]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[内容页基础js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Scripts/jquery-1.10.2.js]]></string>
      <string><![CDATA[~/Content/js/bootstrap.min.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/list]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[内容列表页面基础Js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/jqgrid/jquery.jqGrid.min.js]]></string>
      <string><![CDATA[~/Content/js/plugins/jqgrid/i18n/grid.locale-cn.js]]></string>
      <string><![CDATA[~/Content/js/json2.js]]></string>
      <string><![CDATA[~/Content/js/jqgrid-list.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
    </Srcs>
  </StaticFileModel>
  
  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/jqueryValidate]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[jquery验证需要引入的JS文件，不包含jquery本身]]></Desc>
    <Srcs>
      <string><![CDATA[~/Scripts/jquery.validate.js]]></string>
      <string><![CDATA[~/Scripts/jquery.validate.unobtrusive.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/menu]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[菜单添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/suggest/bootstrap-suggest.min.js]]></string>
      <string><![CDATA[~/Content/js/base.js]]></string>
      <string><![CDATA[~/Content/js/page/menu.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/user]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[用户添加、编辑页面需要调用的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/base.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/roleauthen]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[角色授权页面的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/ztree/jquery.ztree.all.js]]></string>
      <string><![CDATA[~/Content/js/json2.js]]></string>
      <string><![CDATA[~/Content/js/page/roleAuthen.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/charts/echart]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[图表统计页面js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/echarts/echarts.min.js]]></string>
      <string><![CDATA[~/Content/js/page/charts.view.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/Content/js/plugins/layer/layermin]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[layer js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/layer/layer.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/department]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[部门管理页面的js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/plugins/ztree/jquery.ztree.all.js]]></string>
      <string><![CDATA[~/Content/js/page/jucheap.ztree.js]]></string>
    </Srcs>
  </StaticFileModel>

  <StaticFileModel>
    <VirtualUrl><![CDATA[~/content/js/action]]></VirtualUrl>
    <Type><![CDATA[js]]></Type>
    <Ver><![CDATA[1.0]]></Ver>
    <Desc><![CDATA[操作页面按钮事件js]]></Desc>
    <Srcs>
      <string><![CDATA[~/Content/js/page/jucheap.action.js]]></string>
    </Srcs>
  </StaticFileModel>

</ArrayOfStaticFileModel>